<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<!-- <typeAliases> -->
	<!-- <typeAlias alias="KioskCol" type="forest.kiosk.vo.KioskCol" /> -->
	<!-- </typeAliases> -->
        <typeAliases>
                <!-- <package name="app.web.vo" /> -->
                <typeAlias alias="KioskCol" type="forest.kiosk.vo.KioskCol" />
                <typeAlias alias="KioskVo" type="forest.kiosk.vo.KioskVo" />
                <typeAlias alias="UserVo" type="forest.user.vo.UserVo" />
        </typeAliases>

</configuration>